[user]
  email = albhaf@gmail.com
  name = Albert Hafvenström
[core]
  precomposeUnicode = true
  autocrlf = input
  editor = /usr/bin/vim
  excludesfile = /Users/albhaf/.gitignore_global
[push]
  default = current
[pull]
  ff = only
[url "git@github.com:"]
  insteadOf = https://github.com/
